.coming-soon {
    background-color: #f4f4f4;
    text-align: center;
}
.grey-section {
    background-color: rgb(240, 240, 240);
}
.platou-section-wrapper {
    background-color: rgb(240, 240, 240);
}
.platou-price, .meniu-price {
    float: right;
    color: var(--main-red);
}
.post-author-wrapper {
    background-color: inherit;
}
.post-author-wrapper h3 {
    height: 23px;
    min-height: 23px;
}
.post-author-wrapper h3.vegetarian {
    height: 43px;
}

.platou-par .post-author-img, .meniu-par .post-author-img {
    float: right;
}
.platou-par .platou-detalii-wrapper, .meniu-par .meniu-detalii-wrapper {
    margin-left: 0;
}
.meniu-detalii-wrapper p {
    margin-bottom: 10px;
    line-height: 18px;
}
.service-num.service-num span {
    font-size: 60px;
    color: white;
    line-height: 60px;
}
.service-box-wrapper .content h2 {
    top: 40%;
}

.day-container {
    color: var(--main-red);
    margin-top: 12%;
    text-align: center;
}
.day-container .day-date {
    font-size: 20px;
    font-style: italic;
    color: black;
}

.section-title-wrapper {
    margin-bottom: 0px;
}
.section-title {
    padding-top: 50px;
}
.comenzi-speciale {
    padding-top: 0;
    width: 90%;
}

@media screen and (max-width: 992px) {
    .platou-detalii-wrapper {
    }
    .platou-par .post-author-img {
        float: none;
    }
    .meniu-par .post-author-img {
        float: none;
    }
    .section-title-wrapper {
        margin-bottom: 80px;
    } 
    .section-title {
        padding-top: 0px;
    }
    .comenzi-speciale {
        padding-top: 100px;
    }
    .platou-section-wrapper .meniu-detalii-wrapper p {
        margin-top: 90px;
    }
    .post-author-intro {
        padding-left: 0;
        padding-right: 0;
    }
    .meniu-detalii-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

}

.section-title-wrapper {
    margin-bottom: 0px;
}

.deserts-wrapper {
    background-color: white;
}
.soda-column .row {
    margin-bottom: 10px;
}
.soda-section-wrapper {
    padding-bottom: 50px;
}
.coming-soon-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Allura', cursive;
    padding-bottom: 30px;
}
.m-0 {
    margin: 0;
}
h1.coming-soon-text {
    font-size: 40px;
}